<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type?"="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="./assets/css/main.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <div id="app">
            <div class="columns" v-if="this.isLoading">
                <div class="column is-full">
                    <div class="notification is-info">
                        <div class="loader"></div>
                        <p><b>Loading...</b></p>
                    </span>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="box">
                        <h1 class="title">{{ title }}</h1>
                        <form>
                            <div class="field">
                                <label class="label">URL</label>
                                <div class="control">
                                    <input class="input is-primary" v-model="memeUrl" type="text" placeholder="Enter the Url of the meme">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Tags</label>
                                <div class="control">
                                    <input class="input is-primary" v-model="memeTags" type="text" placeholder="Enter the meme tags separated by comma">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Nickname</label>
                                <div class="control">
                                    <input class="input is-primary" v-model="userNickname" type="text" placeholder="Enter your Nickname">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button" type="button" v-on:click="this.registerMeme">Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <meme-card
                v-for="meme in sortedMemes"
                v-bind:key="meme.index"
                v-bind:meme="meme"
                v-bind:client="client">
            </meme-card>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdn.rawgit.com/ktquez/vue-head/master/vue-head.js"></script>
        <script src="https://unpkg.com/@aeternity/aepp-sdk@6.1.3/dist/aepp-sdk.browser-script.js"></script>
        <script src="./assets/js/settings.js"></script>
        <script src="./assets/js/operations.js"></script>
        <script src="./assets/js/templates.js"></script>
        <script src="./assets/js/main.js"></script>
    </body>
</html>
